<hr />
<h2>User List</h2>

<table border="1" cellpadding="10" cellspacing="0" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Surname</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userName }}</td>
      <td>{{ user.userSurname }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.address }}</td>
      <td>
        <button (click)="viewUserBasedId(user?.userId ?? '')">View</button>

      </td>
    </tr>
  </tbody>
</table>


<hr />


<hr />

<div class="p-4">
  <h2>Add User</h2>
  <form (ngSubmit)="addUser()">
    <input type="text" [(ngModel)]="newUser.userName" name="userName" placeholder="User Name" required />
    <br><br>
    <input type="text" [(ngModel)]="newUser.userSurname" name="userSurname" placeholder="User Surname" required />
    <br><br>
    <input type="text" [(ngModel)]="newUser.phoneNumber" name="phoneNumber" placeholder="Phone Number" required />
    <br><br>
    <input type="text" [(ngModel)]="newUser.address" name="address" placeholder="Address" required />
    <br><br>
    <button type="submit">Add</button>
  </form>

 
  <hr />
 
</div>
